audio-transcriber/workflows/Transcribe_Output_to_Google_Drive.json
{
  "name": "Transcribe Output to Google Drive",
  "nodes": [
    {
      "parameters": {},
      "id": "265aa30d-9013-43b9-a7d0-18ff062c7f2a",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1zTxYuxBtTyl8ewUf2oHqveW-4kl4IOiz/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "id": "3dc996db-aadc-4c6e-8161-2e51a4a1f701",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bprdxz1JePALGSle",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {
          "fileName": "={{ $('Google Drive').item.binary.data.fileName.split('.').slice(0, -1).join('.') }}.txt"
        }
      },
      "id": "05800c1b-c36f-4904-895f-f15b2bbcd781",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "35ace249-a0bd-4279-bcd9-335e1f32a259",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1620,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bprdxz1JePALGSle",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "3c4346af-9b8f-404a-82e0-77b8aa29d273",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "VRIjRKJlikCh92DN",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50a2110e-7831-4f4c-a77d-45e5205bf380",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a39849f68f3b862dc4e1dbbe0d78d6e3301600c3eedae7f254980ce912031c71"
  },
  "id": "XrUfcs8ZRW7jacaD",
  "tags": []
}